<p>
  placeholder works!
</p>


<table border="1">
  <tr>
    <th>UserId</th>
    <th>Id</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr *ngFor="let item of results">
    <td>
      {{item.userId}}
    </td>
    <td>
      {{item.id}}
    </td>
    <td>
      {{item.title}}
    </td>
    <td>
      {{item.body}}
    </td>
  </tr>
</table>